In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('language.csv')

In [3]:
df.head()

                                                Text  language
0  klement gottwaldi surnukeha palsameeriti ning ...  Estonian
1  sebes joseph pereira thomas  på eng the jesuit...   Swedish
2  ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai
3  விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...     Tamil
4  de spons behoort tot het geslacht haliclona en...     Dutch

In [4]:
len(df['language'].unique())

22

In [5]:
df['language'].value_counts()

Estonian      1000
Swedish       1000
English       1000
Russian       1000
Romanian      1000
Persian       1000
Pushto        1000
Spanish       1000
Hindi         1000
Korean        1000
Chinese       1000
French        1000
Portugese     1000
Indonesian    1000
Urdu          1000
Latin         1000
Turkish       1000
Japanese      1000
Dutch         1000
Tamil         1000
Thai          1000
Arabic        1000
Name: language, dtype: int64

In [6]:
#df[df['language']=='Arabic']

In [7]:
X=df['Text']

In [8]:
df.shape

(22000, 2)

In [9]:
y=df['language']

In [10]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [11]:
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, plot_confusion_matrix, classification_report
from sklearn.svm import LinearSVC
from sklearn.naive_bayes import MultinomialNB

In [12]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=101)

In [13]:
tfidf=TfidfVectorizer()

In [14]:
X_train_tfidf=tfidf.fit_transform(X_train)

In [15]:
X_test_tfidf=tfidf.transform(X_test)

In [16]:
def report_score(model):
    score=cross_val_score(model, X_train_tfidf,y_train, scoring='accuracy')
    
    return score.mean()

In [17]:
lvc=LinearSVC()

In [18]:
report_score(lvc)

0.9676136363636363

In [19]:
naive=MultinomialNB()

In [20]:
report_score(naive)

0.9412499999999998

In [21]:
naive.fit(X_train_tfidf,y_train)

MultinomialNB()

In [22]:
naive.predict(X_test_tfidf)

array(['Thai', 'Spanish', 'Arabic', ..., 'Korean', 'Swedish', 'French'],
      dtype='<U10')

In [23]:
print(classification_report(y_test,naive.predict(X_test_tfidf) ))

              precision    recall  f1-score   support

      Arabic       1.00      1.00      1.00       204
     Chinese       0.94      0.58      0.72       186
       Dutch       0.99      0.98      0.98       207
     English       0.68      1.00      0.81       208
    Estonian       1.00      0.97      0.98       208
      French       0.92      0.99      0.95       175
       Hindi       0.99      0.97      0.98       197
  Indonesian       0.99      0.99      0.99       181
    Japanese       1.00      0.56      0.72       209
      Korean       1.00      1.00      1.00       185
       Latin       0.99      0.90      0.95       210
     Persian       1.00      1.00      1.00       205
   Portugese       0.99      0.97      0.98       206
      Pushto       1.00      0.95      0.98       211
    Romanian       1.00      0.99      0.99       215
     Russian       0.99      0.99      0.99       214
     Spanish       0.98      0.98      0.98       200
     Swedish       0.58      0.99      0.73       161
       Tamil       1.00      1.00      1.00       209
        Thai       1.00      0.99      0.99       225
     Turkish       1.00      0.98      0.99       200
        Urdu       0.99      0.98      0.99       184

    accuracy                           0.94      4400
   macro avg       0.96      0.94      0.94      4400
weighted avg       0.96      0.94      0.94      4400

In [25]:
pipe=Pipeline([('tfidf',TfidfVectorizer()),('svc',MultinomialNB())])

In [26]:
pipe.fit(X,y)

Pipeline(steps=[('tfidf', TfidfVectorizer()), ('svc', MultinomialNB())])

In [54]:
pipe.predict(['femina'])[0]

'Latin'

In [52]:
import joblib

In [53]:
joblib.dump(pipe,'language_detection.pkl')

['language_detection.pkl']